<div class="form-group">
    <hr>
    <h3 class="col-sm-12">{{ field_data.label }}</h3>
    <div id="field">
        <div id="{{ field_data.field.name }}0" name="{{ field_data.field.name }}0">
            {% for inner_field_data in field_data.inner_fields %}
                <div class="form-group">
                    {# todo in span red mikhad ya na #}
                    <label class="col-sm-4 control-label">{{ inner_field_data.label }}</label>
                    <div class="col-sm-6">
                        {#                        <input id="action_id" name="action_id" type="text" placeholder="" class="form-control input-md">#}
                        {% if inner_field_data.type == "choices" %}
                            {% include "modules/item_form/choices_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% elif inner_field_data.type == "model" %}
                            {% include "modules/item_form/model_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% elif inner_field_data.type == "datetime" %}
                            {% include "modules/item_form/datetime_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% elif inner_field_data.type == "date" %}
                            {% include "modules/item_form/date_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% elif inner_field_data.type == "textarea" %}
                            {% include "modules/item_form/textarea_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% elif inner_field_data.type == "models" %}
                            {% include "modules/item_form/models_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% elif inner_field_data.type == "number" %}
                            {% include "modules/item_form/number_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% else %}
                            {% include "modules/item_form/else_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}
                        {% endif %}
                    </div>
                </div>
                <br>
            {% endfor %}
            {#            <!-- File Button -->#}
            {#            <div class="form-group">#}
            {#                <label class="col-md-4 control-label" for="action_json">Action JSON File</label>#}
            {#                <div class="col-md-4">#}
            {#                    <input type="file" id="action_json" name="action_json" class="input-file" accept=".txt,.json">#}
            {#                    <div id="action_jsondisplay"></div>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </div>
    <!-- Button -->
    <div class="form-group">
        <div class="col-sm-2 pull-left">
            <button id="add-more-{{ field_data.field.name }}" name="add-more" type="button" class="btn btn-default">+
            </button>
        </div>
    </div>
    <br><br>

</div>