{# todo inital value #}<div class="input-group date"><div class="input-group-addon"><i class="fa fa-calendar"></i></div><input type="text" id="{{ field_data.field.name }}" name="{{ name_prefix|default:'' }}{{ field_data.field.name }}_d"class="form-control pull-right"></div>