{% load avishan_tags %}
<div class="form-group has-feedback">
    {% if field_data.required %}
        <label class="col-sm-4 control-label">{{ field_data.label }} <span
                style="color: red">*</span></label>
    {% else %}
        <label class="col-sm-4 control-label">{{ field_data.label }}</label>
    {% endif %}
    <div class="col-sm-8">
        {% if field_data.type == 'choices' %}
            {% include "modules/item_form/choices_input.html" %}
        {% elif field_data.type == 'model' %}
            {% include "modules/item_form/model_input.html" %}
        {% elif field_data.type == 'datetime' %}
            {% include "modules/item_form/datetime_input.html" %}
        {% elif field_data.type == 'date' %}
            {% include "modules/item_form/date_input.html" %}
        {% elif field_data.type == 'textarea' %}
            {% include "modules/item_form/textarea_input.html" %}
        {% elif field_data.type == 'models' %}
            {% include "modules/item_form/models_input.html" %}
        {% elif field_data.type == 'number' %}
            {% include "modules/item_form/number_input.html" %}
        {% else %}
            {% include "modules/item_form/else_input.html" %}
        {% endif %}
    </div>
</div>