{% extends "very_base.html" %}
{% load static %}
{% block title %}ورود{% endblock title %}

{% block body_class %}hold-transition login-page{% endblock body_class %}

{% block body_head %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/{{ PANEL_ROOT }}"><img src="{% static "img/login_logo.png" %}" alt="logo"
                                             style="width:200px;height:200px;"></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">فرم زیر را تکمیل کنید و ورود بزنید</p>

            {% include "modules/login_form.html" %}

        </div>
    </div>
{% endblock body_head %}

{% block body_tail %}
    {{ block.super }}
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock body_tail %}