{% extends "content_page.html" %}
{% load static %}
{% load avishan_tags %}

{% block title %}{{ model.admin_name }} ها{% endblock title %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {#            {% include "modules/filter_box.html" %}#}
            {# todo 0.1.0: filter #}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>

                    <div class="box-tools col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="input-group">
{#                            <input type="text" name="table_search" class="form-control pull-right" placeholder="جستجو">#}
{#                            <div class="input-group-btn">#}
{#                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>#}
{#                            </div>#}
                            <div class="input-group-btn">
                                <a style="{text-decoration:none;display: block;}" class="btn btn-info pull-left"
                                   href="/{{ PANEL_ROOT }}/{{ model.class_plural_snake_case_name }}/create">ایجاد
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ردیف</th>
                            {% for list_display in model.admin_list_display %}
                                <th>{{ list_display|translator }}</th>
                            {% endfor %}
                        </tr>
                        {% for item in items %}
                            <tr onclick="window.open(
                                    '/{{ PANEL_ROOT }}/{{ model.class_plural_snake_case_name }}/{{ item.id }}/detail'
                                    , '_self')" style="cursor: pointer">
                                <td>{{ forloop.counter }}</td>
                                {% for data in item.admin_list_display_data %}
                                    <td>{{ data }}</td>
                                {% endfor %}
                            </tr>
                        {% empty %}
                            <td style="text-align: center;" colspan="{{ model.admin_list_display|length|add:"1" }}">هنوز
                                اطلاعاتی ثبت نشده است
                            </td>
                            {# todo: empty list #}
                        {% endfor %}
                    </table>
                </div>
                {#                <div class="box-footer clearfix">#}
                {#                    <ul class="pagination pagination-sm no-margin pull-right">#}
                {#                        <li><a href="#">&laquo;</a></li>#}
                {#                        <li><a href="#">1</a></li>#}
                {#                        <li><a href="#">2</a></li>#}
                {#                        <li><a href="#">3</a></li>#}
                {#                        <li><a href="#">&raquo;</a></li>#}
                {#                    </ul>#}
                {#                </div>#}
                {# todo pagination #}
            </div>
        </div>
    </div>
{% endblock content %}
