{% extends "content_page.html" %}
{% load static %}
{% load avishan_tags %}

{% block title %}ایجاد {{ model.admin_name }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools"
                         style="display: flex;justify-content: flex-end;align-content: center;align-items: center;">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <a style="{text-decoration:none;display: block;}" class="btn btn-default"
                                   href="/{{ PANEL_ROOT }}/{{ model.class_plural_snake_case_name }}">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "modules/item_form.html" with return_to_root=True %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_tail %}
    {{ block.super }}
    {% for field_data in fields %}
        {% if field_data.type == 'datetime' or field_data.type == 'date' %}
            <script>
                $(document).ready(function () {
                    $('#{{ field_data.field.name }}').persianDatepicker({
                        {% if field_data.type == 'datetime' %}
                            format: 'D-MMMM-YYYY HH:mm a',
                            observer: true,
                            timePicker: {
                                enabled: true
                            }
                        {% elif field_data.type == 'date' %}
                            format: 'D-MMMM-YYYY',
                            initialValue: true,
                            initialValueType: 'persian',
                            observer: true
                        {% endif %}
                    });
                    $('.datepicker-plot-area').css('z-index', '111')
                });
            </script>
        {% elif field_data.type == 'adder' %}
            <script>
                $(document).ready(function () {
                    var next = 0;
                    $("#add-more-{{ field_data.field.name }}").click(function (e) {
                        console.log("wdlkfhdknf");
                        e.preventDefault();
                        var addto = "#{{ field_data.field.name }}" + next;
                        console.log(addto);
                        var addRemove = "#{{ field_data.field.name }}" + (next);
                        next = next + 1;
                        var newIn = '<div id="{{ field_data.field.name }}' + next + '"   name="{{ field_data.field.name }}' + next + '">' +
                            '            {% for inner_field_data in field_data.inner_fields %}'+
                                '                <div class="form-group">'+
                                '                    <label class="col-sm-4 control-label">{{ inner_field_data.label }}</label>'+
                                '                    <div class="col-sm-6">\n'+
                                    '                        {% if inner_field_data.type == "choices" %}'+
                                        '                            {% include "modules/item_form/choices_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}'
                                        +
                                        '                        {% elif inner_field_data.type == "model" %}\n'+
                                        '                            {% include "modules/item_form/model_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}\n'
                                        +
                                        '                        {% elif inner_field_data.type == "datetime" %}\n'+
                                        '                            {% include "modules/item_form/datetime_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}\n'
                                        +
                                        '                        {% elif inner_field_data.type == "date" %}\n'+
                                        '                            {% include "modules/item_form/date_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}\n'
                                        +
                                        '                        {% elif inner_field_data.type == "textarea" %}\n'+
                                        '                            {% include "modules/item_form/textarea_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}\n'
                                        +
                                        '                        {% elif inner_field_data.type == "models" %}\n'+
                                        '                            {% include "modules/item_form/models_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}\n'
                                        +
                                        '                        {% elif inner_field_data.type == "number" %}\n'+
                                        '                            {% include "modules/item_form/number_input.html" with field_data=inner_field_data name_prefix=field_data.field.name number=forloop.counter %}\n'
                                        +
                                        '                        {% else %}\n'+
                                        '                            {% include "modules/item_form/else_input.html" with field_data=inner_field_data name_prefix=field_data.field.name %}\n'
                                        +
                                        '                        {% endif %}\n'+
                                '                    </div>\n'+
                                '                </div>\n'+
                                '                <br>\n'+
                                '            {% endfor %}\n' +
                            '        </div>';
                        var newInput = $(newIn);
                        var removeBtn = '<div class="col-sm-2 pull-left"><button id="remove-{{ field_data.field.name }}' + (next - 1) + '" class="btn btn-danger remove-me" >X</button></div><br>';
                        var removeButton = $(removeBtn);
                        console.log($(addto))
                        $(addto).after(newInput);
                        $(addRemove).after(removeButton);
                        $("#{{ field_data.field.name }}" + next).attr('data-source', $(addto).attr('data-source'));
                        $("#count").val(next);
                        $('.remove-me').click(function (e) {
                            e.preventDefault();
                            var fieldNum = this.id.charAt(this.id.length - 1);
                            var fieldID = "#{{ field_data.field.name }}" + fieldNum;
                            $(this).remove();
                            $(fieldID).remove();
                        });
                    });
                });
            </script>
        {% endif %}
    {% endfor %}
{% endblock body_tail %}