{% extends "content_page.html" %}
{% load static %}
{% load avishan_tags %}

{% block title %}ویرایش {{ model.admin_name }}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <div class="box-tools"
                         style="display: flex;justify-content: flex-end;align-content: center;align-items: center;">
                        <div class="input-group">
                            <div class="input-group-btn">
                                <a style="{text-decoration:none;display: block;}" class="btn btn-default"
                                   href="/{{ PANEL_ROOT }}/{{ model.class_plural_snake_case_name }}/{{ item.id }}/detail">
                                    بازگشت
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% include "modules/item_form.html" with return_to_root=False %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block body_tail %}
    {{ block.super }}
    {% for field_data in fields %}
        <script>
            $(document).ready(function () {
                $('#{{ field_data.field.name }}').persianDatepicker({
                    {% if field_data.type == 'datetime' %}
                        format: 'D-MMMM-YYYY HH:mm a',
                        observer: true,
                        timePicker: {
                            enabled: true
                        }
                    {% elif field_data.type == 'date' %}
                        format: 'D-MMMM-YYYY',
                        initialValue: true,
                        initialValueType: 'persian',
                        observer: true
                    {% endif %}
                });
                $('.datepicker-plot-area').css('z-index', '111')
            });
        </script>
    {% endfor %}
{% endblock body_tail %}