{% extends "very_base.html" %}
{% load avishan_tags %}
{% load static %}

{% block body_class %}hold-transition skin-blue sidebar-mini{% endblock body_class %}
{% block body_head %}
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/{{ PANEL_ROOT }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><i class="{{ dashboard_fa_icon }}"></i></span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>{{ dashboard_title }}</b></span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                {#                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">#}
                {#                    <span class="sr-only">Toggle navigation</span>#}
                {#                </a>#}

      <a href="/{{ PANEL_ROOT }}" class="btn hidden-xs" style="padding:9px;color:#FFF;font-size: 18px">{{ ADMIN_PANEL_HEAD }}</a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{% static user_icon_image_address %}" class="user-image" alt="User Image">
                                <span class="hidden-xs">{{ user_full_name }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header">
                                    <img src="{% static user_icon_image_address %}" class="img-circle" alt="User Image">
                                    <p>
                                        {{ user_full_name }}
                                        <small>{{ user_role|translator }}</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">اطلاعات کاربری</a>
                                        {# todo my profile page #}
                                    </div>
                                    <div class="pull-left">
                                        <a href="/{{ PANEL_ROOT }}/logout" class="btn btn-default btn-flat">خروج</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- right side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    {#                    <li class="active"><a href="/{{ PANEL_ROOT }}"><i class="fa fa-dashboard"></i>داشبورد</a></li>#}
                    {% for model in models %}
                        <li>
                            <a href="/{{ PANEL_ROOT }}/{{ model.class_plural_snake_case_name }}">
                                <i class="far fa-{{ model.admin_fa_icon|default_if_none:"circle" }}"></i> {{ model.admin_plural_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </section>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% if error %}
                <div class="pad margin no-print">
                    <div class="callout callout-info" style="margin-bottom: 0!important;">
                        <h4><i class="fa fa-info"></i>توجه</h4>
                        این صفحه مناسب برای پرینت طراحی شده است برای تست روی دکمه پرینت کلیک کنید
                    </div>
                </div>
            {% endif %}
            {% if warning %}
                <div class="pad margin no-print">
                    <div class="callout callout-info" style="margin-bottom: 0!important;">
                        <h4><i class="fa fa-info"></i>توجه</h4>
                        این صفحه مناسب برای پرینت طراحی شده است برای تست روی دکمه پرینت کلیک کنید
                    </div>
                </div>
            {% endif %}
            {% block content_page %}
            {% endblock content_page %}
        </div>
        <!-- /.content-wrapper -->

        <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
{% endblock body_head %}

