{% extends "base.html" %}
{% load static %}
{% load avishan_tags %}
{% block content_page %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ model.admin_plural_name }}
            <small>{{ content_header_subtitle }}</small>
        </h1>
    </section>



    <section class="content">
        {% include "modules/messages.html" %}
        {% block content %}{% endblock content %}
    </section>
{% endblock content_page %}