{% load static %}
{% load avishan_tags %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}پنل مدیریت{% endblock title %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{% static "avishan_admin/dist/css/bootstrap-theme.css" %}">
    <!-- Bootstrap rtl -->
    <link rel="stylesheet" href="{% static "avishan_admin/dist/css/rtl.css" %}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{% static "avishan_admin/bower_components/Ionicons/css/ionicons.min.css" %}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{% static "avishan_admin/bower_components/jvectormap/jquery-jvectormap.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "avishan_admin/dist/css/AdminLTE.css" %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static "avishan_admin/dist/css/skins/_all-skins.min.css" %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static "avishan_admin/fontawesome-free-5.11.2-web/css/all.min.css" %}">
    {#    <script src="https://kit.fontawesome.com/37800f01ac.js" crossorigin="anonymous"></script>#}
    <!-- daterange picker -->
    <link rel="stylesheet"
          href="{% static "avishan_admin/bower_components/bootstrap-daterangepicker/daterangepicker.css" %}">
    <!-- bootstrap datepicker -->
    <link rel="stylesheet"
          href="{% static "avishan_admin/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" %}">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="{% static "avishan_admin/plugins/iCheck/all.css" %}">
    <!-- Bootstrap Color Picker -->
    <link rel="stylesheet"
          href="{% static "avishan_admin/bower_components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %}">
    <!-- Bootstrap time Picker -->
    <link rel="stylesheet" href="{% static "avishan_admin/plugins/timepicker/bootstrap-timepicker.min.css" %}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{% static "avishan_admin/bower_components/select2/dist/css/select2.min.css" %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static "avishan_admin/dist/css/AdminLTE.css" %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static "avishan_admin/dist/css/skins/_all-skins.min.css" %}">

    {#    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
    {#    <!--[if lt IE 9]>#}
    {#  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>#}
    {#  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
    {#  <![endif]-->#}

    <!-- Google Font -->
    {#    <link rel="stylesheet"#}
    {#          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">#}
    <style>
        .example-modal .modal {
            position: relative;
            top: auto;
            bottom: auto;
            right: auto;
            left: auto;
            display: block;
            z-index: 1;
        }

        .example-modal .modal {
            background: transparent !important;
        }
    </style>
</head>
{% block body %}
    <body class="{% block body_class %}hold-transition{% endblock body_class %}">
    {% block body_head %}{% endblock body_head %}
    {% block body_middle %}{% endblock body_middle %}
    {% block body_tail %}
        <!-- jQuery 3 -->
        <script src="{% static "avishan_admin/bower_components/jquery/dist/jquery.min.js" %}"></script>
        <!-- babakhani datepicker -->
        <link rel="stylesheet" href="{% static "avishan_admin/dist/css/persian-datepicker-0.4.5.min.css" %}"/>
        <script src="{% static "avishan_admin/dist/js/persian-date-0.1.8.min.js" %}"></script>
        <script src="{% static "avishan_admin/dist/js/persian-datepicker-0.4.5.min.js" %}"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="{% static "avishan_admin/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <!-- FastClick -->
        <script src="{% static "avishan_admin/bower_components/fastclick/lib/fastclick.js" %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static "avishan_admin/dist/js/adminlte.min.js" %}"></script>
        <!-- Sparkline -->
        <script src="{% static "avishan_admin/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js" %}"></script>
        <!-- jvectormap  -->
        <script src="{% static "avishan_admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js" %}"></script>
        <script src="{% static "avishan_admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js" %}"></script>
        <!-- Select2 -->
        <script src="{% static "avishan_admin/bower_components/select2/dist/js/select2.full.min.js" %}"></script>
        <!-- InputMask -->
        <script src="{% static "avishan_admin/plugins/input-mask/jquery.inputmask.js" %}"></script>
        <script src="{% static "avishan_admin/plugins/input-mask/jquery.inputmask.date.extensions.js" %}"></script>
        <script src="{% static "avishan_admin/plugins/input-mask/jquery.inputmask.extensions.js" %}"></script>
        <!-- date-range-picker -->
        <script src="{% static "avishan_admin/bower_components/moment/min/moment.min.js" %}"></script>
        <script src="{% static "avishan_admin/bower_components/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
        <!-- bootstrap datepicker -->
        <script src="{% static "avishan_admin/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
        <!-- bootstrap color picker -->
        <script src="{% static "avishan_admin/bower_components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js" %}"></script>
        <!-- bootstrap time picker -->
        <script src="{% static "avishan_admin/plugins/timepicker/bootstrap-timepicker.min.js" %}"></script>
        <!-- iCheck 1.0.1 -->
        <script src="{% static "avishan_admin/plugins/iCheck/icheck.min.js" %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static "avishan_admin/dist/js/adminlte.min.js" %}"></script>
        <!-- SlimScroll -->
        <script src="{% static "avishan_admin/bower_components/jquery-slimscroll/jquery.slimscroll.min.js" %}"></script>
        <!-- ChartJS -->
{#        <script src="{% static "avishan_admin/bower_components/chart.js/Chart.js" %}"></script>#}
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="{% static "avishan_admin/dist/js/pages/dashboard2.js" %}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{% static "avishan_admin/dist/js/demo.js" %}"></script>
        <script>
            $(function () {
                //Initialize Select2 Elements
                $('.select2').select2();

                {#//Datemask dd/mm/yyyy#}
                {#$('#datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'});#}
                {#//Datemask2 mm/dd/yyyy#}
                {#$('#datemask2').inputmask('mm/dd/yyyy', {'placeholder': 'mm/dd/yyyy'});#}
                {#//Money Euro#}
                {#$('[data-mask]').inputmask();#}
                {##}
                {#//Date range picker#}
                {#$('#reservation').daterangepicker();#}
                {#//Date range picker with time picker#}
                {#$('#reservationtime').daterangepicker({#}
                {#    timePicker: true,#}
                {#    timePickerIncrement: 30,#}
                {#    format: 'MM/DD/YYYY h:mm A'                });#}
                //Date range as a button
                {#$('#daterange-btn').daterangepicker(#}
                {#    {#}
                {#        ranges: {#}
                {#            'Today': [moment(), moment()],#}
                {#            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],#}
                {#            'Last 7 Days': [moment().subtract(6, 'days'), moment()],#}
                {#            'Last 30 Days': [moment().subtract(29, 'days'), moment()],#}
                {#            'This Month': [moment().startOf('month'), moment().endOf('month')],#}
                {#            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]#}
                {#        },#}
                {#        startDate: moment().subtract(29, 'days'),#}
                {#        endDate: moment()#}
                {#    },#}
                {#    function (start, end) {#}
                {#        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))#}
                {#    }#}
                {#);#}

                {#//Date picker#}
                {#$('#datepicker').datepicker({#}
                {#    autoclose: true                });#}
                {##}
                {#//iCheck for checkbox and radio inputs#}
                {#$('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({#}
                {#    checkboxClass: 'icheckbox_minimal-blue',#}
                {#    radioClass: 'iradio_minimal-blue'                });#}
                {#//Red color scheme for iCheck#}
                {#$('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({#}
                {#    checkboxClass: 'icheckbox_minimal-red',#}
                {#    radioClass: 'iradio_minimal-red'                });#}
                {#//Flat red color scheme for iCheck#}
                {#$('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({#}
                {#    checkboxClass: 'icheckbox_flat-green',#}
                {#    radioClass: 'iradio_flat-green'                });#}
                {##}
                {#//Colorpicker#}
                {#$('.my-colorpicker1').colorpicker();#}
                {#//color picker with addon#}
                {#$('.my-colorpicker2').colorpicker();#}
                {##}
                {#//Timepicker#}
                {#$('.timepicker').timepicker({#}
                {#    showInputs: false                })#}
            })
        </script>
    {% endblock body_tail %}
    </body>
{% endblock body %}

</html>