{% load avishan_tags %}
<div class="box-body no-padding">
    {% if description_body.type == 'related' %}
        <div class="mailbox-read-info">
            {% if description_body.title %}
                <h{{ description_body.title.size|default:3 }}>{{ description_body.title.data|translator }}</h{{ description_body.title.size|default:3 }}>
            {% endif %}
            {% for related_description_body in description_body.description_bodies %}
                <div class="box-body no-padding">
                    <div class="mailbox-read-info">
                        {% if related_description_body.0.title %}
                            <h{{ related_description_body.0.title.size|default:3 }}>{{ related_description_body.0.title.data|translator }}</h{{ related_description_body.0.title.size|default:3 }}>
                        {% endif %}
                        {% if related_description_body.0.subtitle %}
                            <h{{ related_description_body.0.subtitle.size|default:5 }}>{{ related_description_body.0.subtitle.data|translator }}</h{{ related_description_body.0.subtitle.size|default:5 }}>
                        {% endif %}
                        {% for item in related_description_body.0.parts %}
                            <h{{ item.size }}>
                                <strong>{{ item.field.name|translator }}: </strong>{{ item.data|translator }}
                            </h{{ item.size }}>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="mailbox-read-info">
            {% if description_body.title %}
                <h{{ description_body.title.size|default:3 }}>{{ description_body.title.data|translator }}</h{{ description_body.title.size|default:3 }}>
            {% endif %}
            {% if description_body.subtitle %}
                <h{{ description_body.subtitle.size|default:5 }}>{{ description_body.subtitle.data|translator }}</h{{ description_body.subtitle.size|default:5 }}>
            {% endif %}
            {% for item in description_body.parts %}
                <h{{ item.size }}><strong>{{ item.field.name|translator }}: </strong>{{ item.data|translator }}
                </h{{ item.size }}>
            {% endfor %}
        </div>
    {% endif %}

</div>