{% load avishan_tags %}
{% if file_added %}

    <form class="form-horizontal" method="post" enctype="multipart/form-data">
{% else %}
    <form class="form-horizontal" method="post">
{% endif %}
<div class="box-body">
    {% csrf_token %}
    {% for field_data in fields %}
        {% if field_data.type == 'related' %}
            {% for inner_field_data in field_data.inner_fields %}
                {% include "modules/item_form/field.html" with field_data=inner_field_data %}
            {% endfor %}
        {% elif field_data.type == 'hr' %}
            <hr>

        {% elif field_data.type == 'adder' %}
            {% include "modules/item_form/adder_input.html" %}
        {% else %}
            {% include "modules/item_form/field.html" %}
        {% endif %}

    {% endfor %}
</div>
<div class="box-footer">
    <a style="{text-decoration:none;display: block;}" class="btn btn-default"
            {% if return_to_root %}
       href="/{{ PANEL_ROOT }}/{{ model.class_plural_snake_case_name }}"
            {% else %}
       href="/{{ PANEL_ROOT }}/{{ model.class_plural_snake_case_name }}/{{ item.id }}/detail"
            {% endif %}
    >لغو
    </a>
    <button type="submit" class="btn btn-info pull-right">{{ submit_button_text }}</button>
</div>
</form>
