{% load avishan_tags %}
<form method="post">
    {% csrf_token %}
    <div class="form-group has-feedback">
        <label>{{ authentication_type.identifier_field.verbose_name|translator }}</label>
        <input type="text" class="form-control" name="identifier" autofocus>
    </div>
    <div class="form-group has-feedback">
        <label>{{ authentication_type.password_field.verbose_name|translator }}</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">
                {% with button_text='Enter' %}
                    {{ button_text|translator }}
                {% endwith %}
            </button>
        </div>
    </div>
</form>