{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close pull-left" data-dismiss="alert" aria-hidden="true" aria-label="Close">
            &times;
        </button>
        {{ message }}
    </div>
{% endfor %}