<div class="row justify-content-center">
    <canvas class="col col-6" id="physicalProgressChart" width="700" height="700"></canvas>
</div>
<div class="row justify-content-center">
    <canvas class="col col-6" id="lastPhysicalProgressChart" width="700" height="700"></canvas>
</div>

<script src="packages/Chart.js"></script>
<script src="data.js"></script>

<script>
    Chart.defaults.global.defaultFontFamily = 'BNazanin';
    Chart.defaults.global.defaultFontSize = 20;
    var lineChartTarget = document.getElementById('physicalProgressChart').getContext('2d');

    /* change the data */
    var data = data;

    var dates = []
    var points_1 = []
    for (var i = 0; i < data.length; i++) {
        var record = data[i];
        dates.push(record.year + "/" + record.month)
        points_1.push(record.all_progress.total)
    }

    var labels = dates
    var datasets = [{
        label: 'پیشرفت',
        fillColor: "rgba(172,194,132,0.0)",
        strokeColor: "#000",
        pointColor: "#fff",
        pointStrokeColor: "#000",
        data: points_1,
        borderColor: '#2af',
        borderWidth: 5
    }]

    var lineChartData = {
        labels: labels,
        datasets: datasets
    }

    var lineChart_1 = new Chart(lineChartTarget, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                data: points_1, label: "نمودار پیشرفت فیزیکی",
                borderColor: 'rgba(0,0,0,1)',
                fill: false
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'درصد پیشرفت'
                    },
                    ticks: {
                        beginAtZero: true,
                        suggestedMin: 0,
                        suggestedMax: 100,
                        stepSize: 10
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'تاریخ'
                    },
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            }
        }
    });

    var ctx = document.getElementById('lastPhysicalProgressChart').getContext('2d');

    var labels = [];
    var theData = [];
    var last = data[data.length - 1].all_progress;
    for (var i in last) {
        labels.push(i)
        theData.push(last[i])
    }
    var f2e = {
        "naghshe": "نقشه",
        "pey_tastih": "پی کنی و تسطیح",
        "fondansion": "فوندانسیون",
        "eskelet": "اسکلت",
        "saghf": "سقف",
        "seft_kari": 'سفت کاری',
        "nazok_kari": 'نازک کاری',
        "tasisat_mekaniki": 'تاسیسات مکانیکی',
        "tasisat_elekteriki": 'تاسیسات الکتریکی',
        "namasazi": "نماسازی",
        "mahvate_sazi": "محوطه سازی",
    }
    labels.pop()
    var farsiLabels = []
    for (var i of labels)
        farsiLabels.push(f2e[i])


    console.log(labels)
    console.log(theData)
    console.log(farsiLabels)

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        // label: ["salam", "cheotri"],
        label: "Hello",
        data: {
            labels: farsiLabels,
            datasets: [{
                label: "نمودار آخرین پیشرفت فیزیکی",
                barPercentage: 0.5,
                barThickness: 6,
                maxBarThickness: 8,
                minBarLength: 2,
                data: theData
            }]
        },
        options: {
            responsive: true,
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'درصد پیشرفت'
                    },
                    ticks: {
                        suggestedMin: 0,
                        suggestedMax: 100,

                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'فعالیت'
                    },
                    ticks: {
                        beginAtZero: true,
                    }
                }]
            }
        }
    });

</script>